* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* VARIABLES GLOBALES COLORES */
:root {
  --azulMain: #00ACF0;
  --azulSecond: #DAF2FF;
  --azulOscuro: #005070;
  --blanco: #fff;
  --marfil: #F5F8FA;
  --grisTitulos: #A4ABC2;
  --azulModal: #9CDEF9;


  /* EXTRAS MODO OSCURO */

  --fondoOscuro: #151521;
  --fondoModal: #1F1E2C;
  --botonesOscuro: #2A2B3F;
  --buscador_select: #1B1B29;
}

/* CUSTOM SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--azulSecond);
  border-radius: 5px;
  transition: all 0.3s ease !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--azulMain);
}

::-webkit-scrollbar-corner {
  border-radius: 5px;
}

.form-select{
  color: var(--blanco) !important;
}

body {
  position: relative;
  background-image: url(../../resources/img/fondo/pr2.png);
  background-color: var(--fondoOscuro) !important ;
  background-size: 100% 350px;
  background-repeat: no-repeat;
  background-position: center top;
  overflow-x: hidden;
}

.btn-close{
  color: var(--azulModal) !important;
}

#moon{
  width: 40px !important;
}


@media (max-width: 991.98px) {
  body {
    background-size: 100% 300px;
  }
}

body button {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none !important;
}

.container-xxl {
  padding: 0 !important;
  min-height: 100vh;
}

header nav {
  width: 100%;
  position: relative;
  padding: 18px !important;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, .1);
  transition: all 0.3s ease;
}

/*Navbar fixed INICIO*/
.nav-fixed {
  z-index: 97;
  background-color: #375880;
  animation-name: animacion-nav;
  animation-duration: 0.3s;
}

.nav-fixed .logo {
  filter: none;
}

.nav-fixed .nav-link {
  color: var(--azulSecond) !important;
}

.nav-fixed .menu-item:hover {
  color: var(--blanco);
  background-color: rgba(46, 45, 45, 0.041);
}

.nav-fixed .nav-options .nav-item {
  transition: all 0.3s ease;
  color: var(--azulSecond) !important;
}

.nav-fixed .nav-options .nav-item:hover {
  color: var(--azulMain);
  background-color: #00acf011;
  border-radius: 8px;
}

/*Navbar fixed FIN*/
.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  height: 70px;
  width: 70px;
  filter: brightness(0) invert(1);
}

.form-control, .form-control-lg {
  background-color: var(--botonesOscuro) !important;
  color: var(--marfil) !important;
} 

#archivo .form-control .form-img .p-2 .my-2{
  background-color: var(--azulSecond) !important;
}

.user {
  height: 35px;
  width: 35px;
}

.logo-sticky {
  visibility: hidden;
}

nav .menu-item,
.nav-item {
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0 15px;
  margin: 0 3px;
  color: var(--blanco);
  font-weight: 500;
  transition: all 0.3s ease;
}

nav .menu-item:hover {
  color: var(--blanco);
  background-color: rgba(255, 255, 255, .1);
  border-radius: 8px;
}

.nav-link {
  padding: 0 !important;
  color: var(--blanco) !important;
}

.nav-options .nav-item {
  transition: all 0.3s ease;
  font-size: 24px;
  margin: auto 5px;
  color: var(--blanco);
  padding: 0px 7px;
}

.nav-options .nav-item:hover {
  color: var(--blanco);
  background-color: rgba(255, 255, 255, .1);
  border-radius: 8px;
}

/* TOGGLER BUTTON */

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--blanco);
  display: block;
  transition: all 0.2s;
}


.navbar-toggler {
  width: 30px;
  height: 30px;
  position: relative;
  transition: .5s ease-in-out;
  background: transparent;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  background-color: var(--blanco) !important;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 1px;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.modal-content{
  background-color: var(--fondoModal) !important;
}
/*------------------------------------CSS global------------------------------------*/
.header-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--blanco);
  margin-top: 100px;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: var(--blanco) !important;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--blanco);
  font-weight: 400;
  font-size: 14px;
}

.header-content {
  padding: 0 15px;
}

.content {
  padding: 0 15px;
}

.content-card {
  background-color: var(--blanco);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
}

th {
  border-bottom: none !important;
}

.table-responsive {
  padding-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

/*OCULTANDO SCROLL EN TABLA*/
.table-responsive::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

table {
  width: 100% !important;
  border-width: 1px 0;
}

.pagination,
.dataTables_length {
  padding-top: 25px;
  margin-bottom: 18px;
}

/*QUITANDO SOMBRA AZUL AL HACER FOCUS DE COMPONENTES*/
input:focus,
select:focus,
select,
input.form-control:focus,
textarea.form-control:focus {
  outline: none !important;

  outline-width: 0 !important;

  box-shadow: none;

  -moz-box-shadow: none;

  -webkit-box-shadow: none;
}

/*EFECTO BOTONES GLOBALES*/

.btn-main {
  background-color: var(--azulMain) !important;
  color: var(--blanco) !important;
  transition: all 0.3s ease !important;
}

.btn-main:hover {
  color: var(--azulMain) !important;
  background-color: var(--azulSecond) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.btn-second {
  color: var(--azulMain);
  background-color: #212E48;
  transition: all 0.3s ease;
}

.btn-second:hover {
  color: var(--blanco);
  background-color: var(--azulMain);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*QUITANDO FLECHAS DE INPUT TYPE NUMBER*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*------------------------------------CSS GLOBAL FIN------------------------------------*/
/* CSS Página de Carga */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#contenedor_carga {
  background-color: rgba(33, 46, 72, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--azulOscuro);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* CSS Página de Carga FIN */

/*PAGINATION CUSTOM*/

.pagination>li>a {
  background-color: var(--blanco);
  color: var(--grisTitulos);
  transition: all 0.3s ease;
  width: 36px;
  transform: scale(0.9);
  text-align: center;
  border-radius: 50% !important;
  border: none;
  margin: 0 10px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: var(--blanco);
  background-color: var(--azulMain)
}

.pagination>.active>a {
  color: var(--blanco);
  background-color: var(--azulMain) !important;
}

.pagination>.active>a:hover {
  background-color: var(--azulMain) !important;
}

.pagination>.previous>a:hover,
.pagination>.next>a:hover {
  background-color: var(--blanco);
  color: var(--grisTitulos);
}

/*PAGINATION CUSTOM END*/
.header-content nav {
  --bs-breadcrumb-divider: '-';
}

.content-card {
  margin-bottom: 10%;
}

.table img {
  width: 50px;
  height: 50px;
}

.table td {
  vertical-align: middle;
  text-align: start;
  font-weight: 500;
  color: var(--grisTitulos);
}

.table th {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--grisTitulos);
}

/*CSS GLOBAL FIN*/

/* INICIO DASHBOARD*/
.row-charts {
  display: flex;
  justify-content: space-between;
}

.row-charts h5 {
  color: var(--azulModal);
  font-weight: 700;
}

.content-dashboard .row-tabla,
.chart-dashboard {
  background-color: var(--fondoModal);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
}

.row-tabla h3 {
  font-weight: 700;
  color: var(--azulModal);
}

.content-dashboard .container {
  margin: 0 !important;
  padding: 0 !important;
}

/*INICIO PRODUCTOS*/

.content-productos button {
  margin-left: 10px;
}

.input-chpass {
  background-color: var(--botonesOscuro) !important;
  border: 1px solid var(--azulMain) !important;
  border-radius: 18px !important;
  font-size: 14px !important;
  height: 38px !important;
}  

tr{
  border-color: #2B2B40 !important;
}

.e-texto {
  font-size: 22px;
  color: var(--grisTitulos);
  font-weight: 700;
}

.row-estadisticas .col {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
}

.n-estadistica {
  font-size: 55px;
  color: var(--azulMain);
  font-weight: 700;
}

.title-report-stats {
  color: var(--azulMain) !important;
}

.col-e {
  border-right: 2px solid rgba(0, 0, 0, 0.055);
}

.buscador {
  background-color: var(--buscador_select);
  border-radius: 8px;
}

.barra-buscar {
  background-color: transparent !important;
  width: 100% !important;
  border: none !important;
  font-weight: 500 !important;
  color: var(--grisTitulos) !important;
}

.barra-buscar::placeholder {
  color: var(--grisTitulos) !important;
}



.content .bi-search {
  color: var(--grisTitulos);
}

.content-productos button {
  font-size: 14px;
}

input.nombre-producto, textarea.descripcion-producto,
input.nombre-subcategoria{
  background-color: transparent !important;
}

input.nombre-producto:focus, textarea.descripcion-producto:focus,
input.nombre-subcategoria:focus{
  background-color: var(--botonesOscuro) !important;
}

.editar {
  font-size: 14px;
  background-color: var(--azulMain);
  color: var(--blanco);
  padding: 10px 14px;
  border-radius: 8px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.editar:hover {
  color: var(--azulMain);
  background-color: var(--azulSecond);
}

.col-table {
  text-align: center !important;
}

.nombre-producto {
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: middle;
}

.pedido-no,
.categoria,
.precio,
.inventario,
.estado-stock,
.botones-table {
  text-align: center !important;
}

.table th {
  text-align: center;
}

.table .th-1 {
  text-align: start;
  border-left: 500px !important;
}

.btn-filtro,
.btn-export {
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  height: 100%;
}

.dropdown-filtro {
  width: 250px;
}

.dropdown-filtro li {
  display: flex;
  margin: 0 15px;
}

.dropdown-filtro h5 {
  color: var(--grisTitulos);
  font-weight: 500;
}

.filtro-combo {
  width: 100%;
}

.btn-aplicar-filtro {
  border-radius: 8px;
}

.bi-box-arrow-up {
  font-size: 20px;
  font-weight: 700;
}

.btn-añadir {
  width: 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  padding-right: 5px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
}


.btn-añadir .bi-plus {
  font-size: 24px;
  font-weight: 700;
}

.content-card{
  background-color: var(--fondoModal) !important;
}


label{
  color: var(--blanco);
}

div.dataTables_wrapper div.dataTables_length select{
  background-color:#1B1B29 !important ;
  color: var(--blanco) !important;
  border: var(--fondoOscuro) !important;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.odd, .even{
  border-color: #2B2B40 !important;
}

div.dataTables_wrapper div.dataTables_length option{
  border: var(--fondoOscuro) !important;
}  

.estado {
  font-size: 14px;
  color: #50CD89;
  background-color: #1C3238;
  padding: 10px 14px;
  border-radius: 8px;
  white-space: nowrap;
}

.editar-disabled {
  font-size: 14px;
  color: var(--grisTitulos);
  background-color: #2B2B40;
  padding: 10px 14px;
  border-radius: 8px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.estado2 {
  font-size: 14px;
  color: #CDC050;
  background-color: #423f24;
  padding: 10px 14px;
  border-radius: 8px;
  white-space: nowrap;
}

.estado3 {
  font-size: 14px;
  color: #F1416C;
  background-color: #3A2434;
  padding: 10px 14px;
  border-radius: 8px;
  white-space: nowrap;
}

.estado4 {
  font-size: 12.5px;
  color: var(--marfil);
  background-color: #363636;
  padding: 10px 4px;
  border-radius: 8px;
  white-space: nowrap;
}

.btn-acciones {
  border: none;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--grisTitulos);
  background-color: #2B2B40;
  margin-left: 0 !important;
}

.btn-acciones:hover{
  color: #009EF7;
  background-color: #212E48;
}

/*RESPONSIVE PRODUCTOS*/
@media (max-width: 992px) {
  .buscador {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .btn-filtro {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .navbar-collapse {
    margin-top: 15px !important;
  }

  header nav {
    background: linear-gradient(90deg, rgba(93, 176, 225, 1) 0%, rgba(70, 143, 185, 1) 100%);
  }

  nav.nav-fixed {
    background: var(--azulOscuro) !important;
  }

  nav.nav-fixed .toggler-icon {
    background-color: rgb(58, 58, 58);
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }

  .nav-options {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .row-estadisticas .col {
    width: 50%;
    padding: 10px 0;
  }

  .row-estadisticas>.col:first-child,
  .row-estadisticas>.col:nth-of-type(2) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.055);
  }
}

/*RESPONSIVE PRODUCTOS*/
/*FIN PRODUCTOS*/

/*Animación de dropdowns*/

.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}



.dropdown-menu{
  position: absolute !important;
  inset: auto !important;
  z-index: 9999 !important;
  background-color: var(--fondoModal) !important;
  color: white !important;
}

.dropdown-menu a{
  color: white !important;
}

.dropdown-menu.show {
  position: relative;
  /* <-- Added */
  z-index: 9999;
  /* <-- Added */
}


.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--fondoModal) !important;
  color: #00ACF0 !important;
}

/*Animación de dropdowns fin*/

/*MODAL AGREGAR INICIO*/

.modal-reporteEmpl .modal-header {
  border-color: #212E48 !important;
}

.modal-agregarEmpl .foto-empleado img {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.modal-agregar .modal-dialog {
  max-width: 550px;
}

.modal-agregar .modal-content {
  border-radius: 15px;
  border: none;
}

.modal-agregar .modal-body {
  padding: 0 30px;
}

.modal-agregar input.nombre-producto {
  border: none;
  color: var(--grisTitulos);
  width: 100%;
  font-size: 28px;
  font-weight: 500;
}

.modal-agregar input.nombre-producto::placeholder {
  color: var(--grisTitulos);
}

.modal-agregar textarea {
  border: none;
  resize: none;
  color: var(--marfil);
}

.modal-agregar textarea::placeholder {
  color: var(--grisTitulos);
}

.modal-agregar .form-control {
  padding: 0 20px;
}

.modal-agregar .col {
  padding: 0 auto;
}

.modal-agregar input {
  height: 38px;
}

.modal-agregar label {
  font-weight: 500;
  margin: 0 0 5px 5px;
}

.drop-container {
  width: 100%;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-color: var(--azulMain);
}

.bi-cloud-arrow-up-fill {
  font-size: 70px;
  color: var(--azulMain);
}

.btn-guardar {
  color: var(--blanco) !important;
  background-color: var(--azulMain) !important;
  transition: all 0.3s ease !important;
  border-radius: 15px !important;
}

.btn-guardar:hover {
  color: var(--azulMain) !important;
  background-color: #212E48 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}


.modal-footer {
  border: none !important;
}

/*MODAL AGREGAR FIN*/

/*MODAL ACTUALIZAR INICIO*/
.modal-actualizar .modal-dialog {
  max-width: 550px;
}

.modal-actualizar .modal-content {
  border-radius: 15px;
  border: none;
}

.modal-actualizar .modal-body {
  padding: 0 30px;
}

.modal-actualizar input.nombre-producto {
  border: none;
  color: var(--grisTitulos);
  width: 100%;
  font-size: 28px;
  font-weight: 500;
}

.modal-actualizar input.nombre-producto::placeholder {
  color: var(--grisTitulos);
}

.modal-actualizar textarea {
  border: none;
  resize: none;
  color: var(--grisTitulos);
}

.modal-actualizar textarea::placeholder {
  color: var(--grisTitulos);
}

.modal-actualizar .form-control {
  padding: 0 20px;
}

.modal-actualizar .col {
  padding: 0 auto;
}

.modal-actualizar input {
  height: 38px;
}

.modal-actualizar label {
  font-weight: 500;
  margin: 0 0 5px 5px;
}

.modal-actualizar input,
.modal-actualizar select {
  border: 1px solid var(--azulMain);
  border-radius: 18px;
  font-size: 14px;
  height: 38px;

}

.input-stock .col:first-child {
  padding-right: 0;
}

.btn-stock {
  font-size: 18px;
}

.col-btn-stock {
  padding-right: 10px;
}

@media (max-width: 768px) {
  .input-stock .col {
    width: 95%;
  }

  .col-btn-stock {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    margin-right: 0;
  }
}


/*MODAL ACTUALIZAR FIN*/

/*MODAL ELIMINAR INICIO*/
.modal-eliminar .modal-header {
  border: none !important;
}

.modal .eliminar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal .bi-exclamation-circle-fill {
  font-size: 250px;
  color: var(--azulMain);
}

.eliminar-content h2 {
  color: var(--azulMain);
  font-weight: 700;
  font-size: 40px;
}

.eliminar-content span {
  color: var(--grisTitulos);
  font-size: 18px;
  font-weight: 500;
}

.modal-footer .btn-cancel {
  border-radius: 15px;
}

.modal-eliminar .modal-footer {
  border: none;
}

.modal-footer .btn-continuar {
  transition: all 0.3s ease !important;
  border-radius: 15px !important;
  color: var(--blanco) !important;
  background-color: var(--azulMain) !important;
}

.modal-footer .btn-continuar:hover {
  color: var(--azulMain) !important;
  background-color: #212E48 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-footer .btn-cancel {
  color: var(--azulMain) !important;
  background-color: #212E48 !important;
  transition: all 0.3s ease !important;
  border-radius: 15px !important;
}

.modal-footer .btn-cancel:hover {
  color: var(--blanco) !important;
  background-color: var(--azulMain) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.agregar-content input, .agregar-content select{
  background-color: var(--botonesOscuro);
  color: var(--marfil) !important;
}

/*RESPONSIVE*/
@media (min-width: 992px) {
  .chart-dashboard {
    width: 48% !important;
  }
}

/*PEDIDOS CONSUMIDOR INICIO*/
#calendar-range {
  border: none;
  text-align: center;
  color: var(--grisTitulos);
  font-weight: 500;
  background-color: #2B2B40;
  border-radius: 8px;
}

.modal-agregar .modal-header,
#modal-stats .modal-header,
.modal-agregarEmpl .modal-header {
  border-color: var(--botonesOscuro) !important;
}

.flatpickr-calendar {
  background-color: #84bdd3!important;
  margin: 0 auto !important;
}

#calendar-range::placeholder {
  color: var(--grisTitulos);
  font-weight: 500;
}

.pedidos-consumidor table td {
  text-align: center;
}

.pedidos-consumidor .botones-table {
  width: 15%;
  text-align: center;
}

.pedidos-consumidor .fecha {
  white-space: nowrap;
}

#buscar-venta::placeholder {
  color: var(--grisTitulos);
}

@media (max-width:992px) {
  .col-header-pre-table {
    width: 100%;
    margin-bottom: 15px !important;
    justify-content: space-between !important;
    flex-wrap: nowrap;
  }

  .buscador {
    width: 100% !important;
  }

  #calendar-range {
    width: 75%;
  }
}

/*PEDIDOS CONSUMIDOR FIN*/

/*AÑADIR VENTA(DETALLE) INICIO*/
.detalle-venta .content-card {
  width: 65%;
  max-height: 1125px;
  overflow-x: hidden;
}

.content-detalle,
.detalle-venta .content-card {
  position: relative;
}

.detalle-venta .table-responsive {
  max-height: 500px;
  overflow: auto;
}

.btn-spinner-detalle {
  color: var(--azulMain);
  border-color: var(--azulMain);
}

.btn-agregar-cantidad {
  background-color: var(--azulMain);
  color: var(--blanco);
  transition: 0.3s all;
}

.btn-agregar-cantidad:hover {
  background-color: var(--azulSecond) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  color: var(--azulMain);
}

/*OCULTANDO SCROLLBAR*/
.detalle-venta .table-responsive::-webkit-scrollbar {
  display: none !important;
}

.detalle-venta .content-card:last-child {
  width: 30%;
}

.detalle-venta h2 {
  font-weight: 700;
  font-size: 28px;
  color: var(--azulMain);
}

.detalle-venta .productos-detalle span,
.detalle-venta .title-productos span,
.detalle-venta .detalle span {
  font-weight: 700;
  font-size: 18px;
  color: var(--azulMain);
}

.detalle-venta .modal-content h5 {
  color: var(--blanco);
}


.detalle-venta label {
  font-weight: 500;
  font-size: 18px;
}

.detalle-venta #tbody_clientes tr:hover,
.detalle-venta #tbody_clientes tr.selected {
  background-color: var(--fondoOscuro) !important;
}

.detalle-venta h6 {
  font-weight: 700;
  font-size: 20px;
  color: var(--marfil);
}

.detalle-venta h4 {
  font-weight: 700;
  font-size: 28px;
  color: var(--marfil);
}

.productos-detalle{
  border-color: #212E48 !important;
}

.content-detalle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detalle-venta .productos-detalle img {
  width: 50px;
  height: 50px;
}

.info-producto h4 {
  font-size: 18px;
  font-weight: 700;
}

.info-producto h5 {
  font-size: 14px;
  font-weight: 500;
}

.productos-detalle .controls-producto {
  width: 40%;
}

.productos-detalle .controls-producto .input-group {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.productos-detalle .controls-producto .input-group .btn {
  width: 40px;
  height: 40px;
  border: none;
  border-top-left-radius: unset !important;
  border-bottom-left-radius: unset !important;
  border-radius: 50% !important;
  font-size: 18px;
  transform: scale(0.8);
}

.productos-detalle .controls-producto h5 {
  font-size: 14px;
}

.productos-detalle .controls-producto .input-group input {
  flex: none;
  height: 40px;
  width: 40px !important;
  border: none !important;
  padding: 0 0 !important;
}

.productos-detalle .producto-card {
  position: relative;
}

.productos-detalle .producto-card .producto-card-content {
  border-color: #212E48 !important;
  color: var(--blanco) !important;
}

.btn-anadir-cliente {
  color: var(--azulSecond) !important;
  background-color: var(--azulMain) !important;
}

.btn-anadir-cliente:hover {
  color: var(--azulMain) !important;
  background-color: var(--azulSecond) !important;
}

.productos-detalle .producto-card-content .bi-x {
  position: absolute;
  top: -10%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #CD5050;
  background-color: #FFE8E8;
  border-radius: 50%;
  filter: opacity(0);
  transform: scale(0.5);
  transition: all 0.5s ease;
}

.producto-card-content:hover .bi-x {
  transition-delay: 0.1s;
  filter: opacity(1);
  transform: scale(1);
  cursor: pointer;
}

#item-modal select {
  background-color: var(--botonesOscuro);
  color: var(--marfil);
}

.detalle-venta .btn-filtro {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 38px;
  padding: 0;
}

.detalle-venta .buscador form {
  width: 92%;
}

.detalle-venta .table-check {
  width: 2% !important;
}

.detalle-venta .table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before,
.detalle-venta .table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:after {
  top: 50% !important;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
  background-color: var(--marfil) !important;
}

.col-flex-detalle {
  display: flex;
  flex-direction: column;
}

.btn-anadir-cliente {
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 38px;
  font-weight: 500;
}

.detalle-venta .content-card select {
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--azulMain);
  height: 38px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--botonesOscuro);
  color: var(--grisTitulos);
}

.detalle-venta .content-card.detalle input {
  border: none;
  height: 38px;
  text-align: center;
  color: var(--grisTitulos);
  font-weight: 500;
  background-color: var(--marfil);
  border-radius: 8px;
}

#calendar::placeholder {
  color: var(--grisTitulos);
  font-weight: 500;
}

.detalle-venta .btn-cancel {
  color: var(--azulMain);
  background-color: transparent;
  border: 1px solid var(--azulMain);
  transition: all 0.3s ease;
}

.detalle-venta .btn-cancel:hover {
  color: var(--blanco);
  background-color: var(--azulMain);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.content-card.detalle hr {
  color: var(--grisTitulos);
}

@keyframes slideIn1 {
  0% {
    transform: translate(-8.5rem, 1rem);
    opacity: 0;
  }

  100% {
    transform: translate(-8.5rem, 0rem);
    opacity: 1;
  }

  0% {

    opacity: 0;
  }
}

@-webkit-keyframes slideIn1 {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translate(0rem, -1rem);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(0rem);
    -webkit-opacity: 0;
  }
}

@media (max-width:778px) {

  .content-detalle {
    display: flex;
    flex-wrap: wrap;
  }

  .detalle-venta .content-card {
    width: 100% !important;
  }

  .productos-detalle .producto-card .bi-x {
    top: -15%;
    right: -2%;
  }

  .col-flex-detalle {
    width: 100%;
  }

  .content-card.detalle {
    display: block !important;
  }
}

@media (max-width:992px) {
  .col-buscador {
    width: 100%;
  }

  .detalle-venta .btn-filtro {
    margin-top: 8px;
    width: 100%;
  }

  .detalle-venta .buscador {
    height: 35px;
  }

  @keyframes slideIn1 {
    0% {
      transform: translate(10rem, 1rem);
      opacity: 0;
    }

    100% {
      transform: translate(10rem, 0rem);
      opacity: 1;
    }

    0% {

      opacity: 0;
    }
  }

  @-webkit-keyframes slideIn1 {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }

    100% {
      -webkit-transform: translate(11rem, -1rem);
      -webkit-opacity: 1;
    }

    0% {
      -webkit-transform: translateY(0 rem);
      -webkit-opacity: 0;
    }
  }

  .cantidad-agregar-detalle {
    margin-top: 25px;
  }
}

.slideIn1 {
  -webkit-animation-name: slideIn1;
  animation-name: slideIn1;
}

.hide-cmb {
  display: none;
}

#tipo-venta-div {
  display: none;
}

#municipio {
  display: none;
}

/*AÑADIR VENTA(DETALLE) FIN*/

/*MODAL AGREGAR SUBCATEGORIA*/
.addname {
  border: none !important;
  font-size: 28px !important;
  font-weight: 500 !important;
  color: var(--grisTitulos) !important;
  background-color: transparent !important;
}

.subcategoria .modal select {
  border-radius: 15px;
  border-color: var(--azulModal);
}

.modal .inputP {
  border-radius: 15px;
  border-color: var(--azulModal);
}

.modal .imagenmodal {
  border-width: 1px;
  border-color: var(--azulModal);
  border-style: solid;
  border-radius: 15px;
  background-color: var(--botonesOscuro);
  color: var(--marfil);
}

.modal .imagentext a {
  color: var(--azulMain);
}

.modal .imagentext a:hover {
  color: var(--azulOscuro);
}

.image {
  width: 100%;
}

.modal b {
  font-size: 75%;
}

.modal-footer .btn-continuaradd {
  color: var(--blanco);
  background-color: var(--azulMain);
  border-radius: 20px;
}

.modal-footer .btn-continuaradd:hover {
  color: var(--azulMain);
  background-color: var(--azulSecond);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-footer .btn-canceladd {
  color: var(--azulMain);
  background-color: transparent;
  border: 1px;
  border-style: solid;
  border-radius: 20px;
}

.modal-footer .btn-canceladd:hover {
  color: var(--azulSecond);
  background-color: var(--azulOscuro);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-agregarSub .modal-footer {
  border: none;
}

/*MODAL AGREGAR SUBCATEGORIA FIN*/

/* MARCA_PROVEEDOR INICIO */
.content-prov {
  padding: 1px;
  margin-left: -60px !important;
}

.content-marca {
  padding: 1px;
  margin-right: -60px !important;
}

.marca_proveedor .content-card > .row{
  margin: 0 5px;
}

.proveedor {
  min-height: 991px;
  max-height: 1000px;
}

.marca {
  height: 1000px;
}
.col-table-content-double{
  height: 100%;
}
.row-table-content{
/*TODO: clase proveedor*/
height: 850px;

}

.marca_proveedor .scroll{
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black),
  linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
  linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.marca_proveedor .scroll:hover {
  mask-position: left top;
  -webkit-mask-position: left top;
}

.marca_proveedor .table-responsive{
  min-height: 100%;
  min-width: 100%;
  display: flex;
}

.dataTables_wrapper{
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.tituloMP {
  font-size: 28px;
  color: var(--azulMain);
}

tbody .imgMP {
  width: 25px;
  height: 25px;
}

.btn-filtroMP {
  color: var(--azulMain);
  font-weight: 500;
  font-size: 16px;
  background-color: var(--azulSecond);
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  transition: all 0.3s ease;
}

.btn-filtroMP:hover {
  color: var(--marfil);
  background-color: var(--azulMain);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-añadirMP {
  width: 160px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--azulMain);
  color: var(--blanco);
  border: none;
  padding-right: 5px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-añadirMP:hover {
  color: var(--azulMain);
  background-color: var(--azulSecond);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-añadirDM {
  width: 190px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--azulMain);
  color: var(--blanco);
  border: none;
  padding-right: 5px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-añadirDM:hover {
  color: var(--azulMain);
  background-color: var(--azulSecond);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#modal-agregarP .modal-footer,
#modal-agregarEP .modal-footer,
#modal-agregarEV .modal-footer,
#modal-agregarTV .modal-footer, 
#modal-agregarTF .modal-footer,
#save-modal .modal-footer  {
  border: none;
}

#modal-agregarM .modal-footer {
  border: none;
}

#modal-agregarP select,
#modal-agregarSub select,
#modal-agregarEP select,
#modal-agregarEV select,
#modal-agregarTV select,
#modal-agregarTF select,
#save-modal select {
  border-radius: 15px;
  border-color: var(--azulMain);
}

.cpicker{
  box-sizing: var(--azulModal) !important;
  font-family: 'Poppins', sans-serif !important;
  border-radius: 15px !important;
  border-color: var(--azulModal) !important;
  height: 26px !important;
}


#modal-agregarP h2,
#modal-agregarM h2,
#modal-agregarSub h2,
#modal-agregarEP h2,
#modal-agregarEV h2,
#modal-agregarTV h2,
#modal-agregarTF h2,
#save-modal h2 {

  color: var(--azulMain);
  text-align: center !important;
}

/* MARCA_PROVEEDOR FIN */

/* DEPARTAMENTOS_MUNICIPIOS INICIO */

#modal-agregarD .modal-footer {
  border: none;
}

#modal-agregarD select, #modal-agregarSub select{
  border-radius: 15px;
  border-color: var(--azulMain);
}

#modal-agregarD h2, #modal-agregarM h2, #modal-agregarSub h2{
  color: var(--azulMain);
}

#modal-agregarSub select:disabled {
  background-color: var(--fondoOscuro);
}

/* DEPARTAMENTOS_MUNICIPIOS FIN */

/* RESPONSIVE */

@media (max-width:992px) {
  #buscar-producto-mp::placeholder {
    font-size: 100%;
  }

  .content-prov {
    margin-left: 0px !important;
  }

  .content-marca {
    margin-right: 0px !important;
  }
}

@media (max-width:1200px) {
  #buscar-producto-mp::placeholder {
    font-size: 100%;
  }

  .content-prov {
    margin-left: 0px !important;
  }

  .content-marca {
    margin-right: 0px !important;
  }
}

@media (max-width:1252px) {
  #buscar-producto-mp::placeholder {
    font-size: 80%;
  }

  .content-prov {
    width: 100%;
    margin-left: 0px !important;
  }

  .content-marca {
    width: 100%;
    margin-right: 0px !important;
  }
}

/*********************LOGIN INICIO******************/
@font-face {
  font-family: 'T-login';
  src: url('../../resources/tipografias/sunday.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.con-lo {
  padding-top: 80px;
}

.login-fondo {
  background-image: url(../../resources/img/login_crear_recu/fondob.png) !important;
  background-size: cover;
  height: 100vh;
  object-fit: cover;
}

.izquierdo-lo {
  background-image: url(../../resources/img/login_crear_recu/fondol.png);
  background-size: cover;
  height: 500px;
}

.derecho-lo {
  background-color: white;
  height: 500px;

}

.log-l {
  width: 260px;

}

.titu-l {
  font-family: 'T-login';
  font-size: 30px;
  color: var(--azulOscuro);
  text-align: center;
  padding-top: 80px;
}

.login-fondo input {
  border-color: var(--azulMain);
  border-radius: 18px;
  font-size: 14px;
}

.login-fondo input::placeholder {
  color: var(--grisTitulos);
}

.login-fondo label {
  font-weight: 600;
  margin: 0 0 10px 10px;
}

.l-inp {
  padding-top: 15px;
}

.h5-lo {
  text-align: end;
  font-weight: 900;
  font-size: 13px;
  color: var(--azulMain);
}

.Aceptar {
  border: none;
  width: 100%;
  font-size: 20px;
  color: white;
  background-color: #007EB0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 18px;
}

@media (max-width: 767.98px) {
  .log-l {
    width: 200px;
  }
}

/**********************LOGIN FIN********************/

/*********************RECU INICIO******************/

.p-lo {
  text-align: center;
  font-weight: 200;
  font-size: 15px;
  color: var(--azulMain);
}

.R-inp {
  padding-top: 5px;
  padding-bottom: 7px;
}

.izquierdo-Re {
  background-image: url(../../resources/img/login_crear_recu/fondol.png);
  background-size: cover;
  height: 470px;
}

.derecho-Re {
  background-color: white;
  height: 470px;
}

.con-Re {
  padding-top: 100px;
}

/**********************RECU FIN********************/

/**********************REGISTRAR INICIO********************/

.reg-fondo {
  background-image: url(../../resources/img/login_crear_recu/fondob.png) !important;
  background-size: cover;
  object-fit: cover;
}

.titu-R {
  font-family: 'T-login';
  font-size: 30px;
  color: var(--azulOscuro);
  text-align: center;
  padding-top: 57px;
}

.con-rg {
  padding-top: 6%;
  padding-bottom: 6%;
}

.izquierdo-Rg {
  background-image: url(../../resources/img/login_crear_recu/fondol.png);
  background-size: cover;
  height: 820px;
}

.derecho-Rg {
  background-color: white;
  height: 820px;
}

.reg-fondo input {
  border-color: var(--azulMain);
  border-radius: 18px;
  font-size: 14px;
}

.reg-fondo input::placeholder {
  color: var(--grisTitulos);
}

.reg-fondo label {
  font-weight: 600;
  margin: 0 0 10px 10px;
}

/**********************REGISTRAR FIN********************/


/*ANIMACIONES*/
@keyframes animacion-nav {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px)
  }
}


@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}



@keyframes slideInNav {
  0% {
    transform: translateY(8rem);
    opacity: 0;
  }

  100% {
    transform: translateY(5.5rem);
    opacity: 1;
  }

  0% {
    transform: translateY(8rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideInNav {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translate(11rem, -1rem);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(0 rem);
    -webkit-opacity: 0;
  }
}

.slideInNav {
  -webkit-animation-name: slideInNav;
  animation-name: slideInNav;
}

@keyframes slideInNav1 {
  0% {
    transform: translate(-4rem, 8rem);
    opacity: 0;
  }

  100% {
    transform: translate(-4rem, 4.5rem);
    opacity: 1;
  }

  0% {
    transform: translate(-4rem, 8rem);
    opacity: 0;
  }
}

.slideInNav1 {
  -webkit-animation-name: slideInNav1;
  animation-name: slideInNav1;
}

@media (max-width:992px) {
  @keyframes slideInNav {
    0% {
      transform: translate(15rem, 0rem);
      opacity: 0;
    }

    100% {
      transform: translate(15rem, 5rem);
      opacity: 1;
    }

    0% {
      transform: translate(15rem, 0rem);
      opacity: 0;
    }
  }

  @keyframes slideInNav1 {
    0% {
      transform: translate(0rem, 0rem);
      opacity: 0;
    }

    100% {
      transform: translate(0rem, 4rem);
      opacity: 1;
    }

    0% {
      transform: translate(0rem, 0rem);
      opacity: 0;
    }
  }
}

.avatar {
  width: 250px;
}

/* Perfil Usuario*/
.t-texto {
  font-size: 30px;
  color: black;
  font-weight: 700;
  margin-bottom: 50px;
}

.btn-editar {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  padding-right: 5px;
  border-radius: 8px;
  font-weight: 500;
  float: right;
  margin-top: -4%
}

.text1 {
  color: var(--grisTitulos);
  font-size: 20px;
}

.text2 {
  color: #3F4254;
  font-size: 20PX;
}

.td,
.move {
  padding-left: 130px;
}

.th,
.th-2 {
  color: black;
  font-size: 30px;
}

.e-texto {
  font-size: 22px;
  color: var(--grisTitulos);
  font-weight: 700;
}

.text-center{
  color: var(--azulModal);
}

.card-header {
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.055);
  color: var(--azulMain);
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 70px;
}



@media (max-width:1200px) {
  .col-avatar {
    display: flex;
    justify-content: center;
  }

  .perfil-usuario .content-card h2 {
    text-align: center;
    margin-top: 20px;
  }
}

/* Editar Perfil Fin */



/* Perfil Usuario Fin*/

/* Editar Perfil */
.s-texto {
  font-size: 22px;
  color: var(--azulSecond);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:768px) {
  .s-texto {
    justify-content: start;
  }
}






.avatar1 {
  width: 250px;
  margin-top: 60px;
  margin-left: 360px;
  padding-right: 30px;
}

.p-text {
  font-size: 20px;
  color: var(--grisTitulos);
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

.imagen-iconos {
  position: relative;
}

.btn-editar-foto {
  position: absolute;
  right: 25px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-borrar-foto {
  position: absolute;
  right: 25px;
  bottom: 5px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.form-control.form-control-solid {
  background-color: var(--botonesOscuro);
  border-color: var(--azulOscuro);
  color: var(--grisTitulos);
  transition: color 0.2s ease, background-color 0.2s ease;
}


.btn-editar1 {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--azulMain);
  background-color: #212E48;
  transition: all 0.3s ease;

}

.btn-editar1:hover {
  color: var(--blanco);
  background-color: var(--azulMain);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.btn.btn-icon:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush) {
  border: 0;
}


/* Editar Perfil Fin */

/* Diseño footer Inicio */
.footerSP {
  background-color: var(--azulOscuro);
}

.footerH6 {
  color: var(--blanco);
}

/* Diseño footer fin */

/* ESTADOS INICIO */
.input-ep {
  border: 1px solid var(--azulMain) !important;
  border-radius: 18px !important;
  font-size: 14px !important;
  height: 38px !important;
}

/* ESTADOS FIN*/

.btn-agregar-estado {
  height: 35px;
}

/* UTILITIES */
.input-hide {
  display: none;
}

input.invalid,
textarea.invalid {
  background-color: rgb(255, 241, 240);
}

.content-perfil h2, .content-perfil h3{
  color: var(--azulModal);
}

.content-perfil input, .content-perfil select{
  background-color: var(--botonesOscuro) !important;
}

/* COLORES INICIO */

#add-color-title {
  color: var(--azulMain);
}

/* ERROR 403 Y ERROR 404 */

.er4 body {
  background-image: none !important;
}

.er4 .login-error4{
  background-image: url(../../resources/img/error/fondo404.png) !important;
  background-size: cover;
  background-repeat: repeat;
}

.letter-err{
  font-family: 'Rubik', sans-serif !important;
  color: var(--blanco);
  font-size: 60px;
  font-weight: 700;
}

.letter-err-p{
  font-family: 'Rubik', sans-serif !important;
  color: var(--blanco);
  font-size: 18px;
  font-weight: 500;
}

.error-tex{
  padding-top: 5%;
}

.cat404{
  width: 570px !important;
}

.cat404 img{
  width: 100%;
  height: auto;
}